<div class="container mt-4">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend class="mt-4 mb-3">Dados pessoais</legend>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Login ID</mat-label>
            <input formControlName="loginId" matInput />
            <mat-error>ID inválido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" formControlName="password" matInput />
            <mat-error>Senha inválida</mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<router-outlet></router-outlet>
