<div class="container">
  <div class="row">
    <app-side-section
      [contact]="contact"
      [skills]="skillBars"
      [languages]="languageBars"
      class="col-md-4 rounded"
    >
    </app-side-section>
    <div class="col-md-8">
      <div *ngFor="let container of experiencesContainers">
        <app-core-section
          [iconElement]="container.icon"
          [textElement]="container.title"
          [experiences]="container.experiences"
        >
        </app-core-section>
      </div>
    </div>
  </div>
</div>

<app-footer
  (contactDataOutput)="onContactFormData($event)"
  [socialMedias]="socialMedias"
  class="footerColorScheme d-flex justify-content-center flex-column mt-4"
></app-footer>
